* {
  font-family: 'Libre Franklin', sans-serif;
}

.main-grid {
  margin: 0;
  display: inline;
}

.gamePage {
  background-image: url("/images/lightblur.jpg");
  background-size: cover;
}



.play-area {
  margin: 20px;
}

.panel-heading {
  font-size: xx-large;
  color: lightgray;
  text-align: center;
  background: rgba(46, 51, 56, 0.8)!important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px
}

.homepage-background {
  background-image: url('/images/homepage_bg.jpg');
  background-size: cover;
  height: 100vh
}

.welcome-page {
  background-image: url('/images/homepage_bg.jpg');
  background-size: cover;
  height: 100vh
}

#golobby {
  top: 180;
  font-size: xx-large;
  font-weight: bold;
}

.panel {
  text-align:center;
  position: relative;
  left: 370px;
  top: 220px;
  width: 680px;
  color: lightgray;
  font-size: x-large;
  margin-bottom: 20px;
  border-radius: 20px;
  /*background-color: rgba(85, 107, 47, 0.8);*/
  background: rgba(46, 51, 56, 0.7)!important;
  border-color: rgba(46, 51, 56, 0.9)!important;
}

.form-group {
  position: relative;
  left: 45px;
  margin-bottom: 12px;
}

.signup {
  font-size: x-large;
  color: lightgray;
  background-color: rgba(46, 51, 56, 0.8);
  cursor: pointer;
}

.login {
  width: 130px;
  font-size: x-large;
  color: lightgray;
  background-color: rgba(46, 51, 56, 0.8);
  cursor: pointer;
}

.enter-game {
  display: center;
  font-size: x-large;
  color: lightgray;
  background-color: rgba(46, 51, 56, 0.8);
  cursor: pointer;
}

.google-login {
  font-size: regular;
  color: lightgray;
  background-color: rgba(46, 51, 56, 0.8);
  cursor: pointer;
}

.play-area {
  background-image: url('/images/game-page-background.jpeg');
  background-size: cover
}

.gameboard {
  background-image: url('/images/board.jpg');
  background-size: 900px 720px;
  margin: 0;
  line-height: 0px;
  width: 900px;
  height: 720px;
  z-index: -1;
  border-radius: 20px
}

.rule-background {
  background-image: url('/images/rules.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: repeat-y;
}

#gamerule {
  position: absolute;
  top: 160px;
  left: 225px;
  width: 70%;
  height: 70%;
  z-index: 15;
  background-color: rgba(85, 107, 47, 0.8);
  border: 6px #23527c;
  border-radius: 25px 25px 25px 25px;
  overflow-y:auto;
  color: white
}

.rule-content {
  margin: 40px;
}

#gorule {
  font-family: abadi MT condensed;
  font-size: xx-large;
  font-weight: bold;
}

.rule-title-h1 {
  font-size: regular;
}

.rule-title-h2 {
  font-size: large;
}

.rule-title-h1 {
  font-size: x-large;
}

.userName {
  display: inline-block;
}

.google-oauth {
  height: 25px;
  right: 0px;
  display: inline-block;
}

.rule-title {
  font-size: xxx-large;
}

.rule-paragraph {
  font-size: large
}

.rulecontent {
  font-family: abadi MT condensed;
  color: white;
  text-align: center;
}

.rule-lobby {
  position: absolute;
  top: 60px;
  left: 200px;
  font-size: xx-large;
  font-family: abadi MT condensed;
  color: lightgray
}

.homepage-nav {
  background-color: black;
}

.navbar {
  margin: 0px;
}

.choose-lobby {
  font-size: x-large;
  color: white;
  margin-top: 40px;
  font-size: 2.5em;
}

.lobby-list-box {
  position: absolute;
  top: 150px;
  left: 130px;
  width: 26%;
  height: 70%;
  z-index: 15;
  font-family: abadi MT condensed;
  background-color: rgba(85, 107, 47, 0.8);
  border-radius: 25px 25px 25px 25px;
  overflow-y: auto;
}

.lobby-list {
  position: relative;
  top: 80px;
  font-size: large;
}

.lobby-link {
  text-align: center;
  font-size:large;
  color: 	white;
  margin: 30px;
}

.add-lobby {
  text-align: center;
  font-size: x-large;
  font-family: 'Libre Franklin', sans-serif;
  color: lightgray;
  background-color: rgba(46, 51, 56, 0.8);
  bottom: 50px;
  border-radius: 20px 20px 20px 20px;
  margin-top: 1em;
  cursor: pointer;
}

.onfire-image {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 88%;
  z-index: 15;
  background-image: url('/images/lobby-background.jpg');
  background-size: cover
}

.navItem {
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 0px;
  top: 18px;
}

.game-title {
  color: white;
  font-size: xx-large;
  font-weight: bold;
  z-index: 0;
  position: relative;
  top: 0;
}

.row {
  margin: 0;
  line-height: 0px;

}

.cell {
  width: 90px;
  height: 90px;
  display: inline-block;
  position: relative;
}

@-webkit-keyframes pulse {
  0% {
    background: hsla(55, 48%, 57%, 0.2);
  }
  50% {
    background: hsla(55, 48%, 57%, 0.6);
  }
  100% {
    background: transparent;
  }
}
@keyframes pulse {
  0% {
    background: hsla(55, 48%, 57%, 0.2);
  }
  50% {
    background: hsla(55, 48%, 57%, 0.6);
  }
  100% {
    background: transparent;
  }
}

.cell-highlighted {
  -webkit-animation: pulse 1.6s ease-in-out infinite alternate;
  animation: pulse 1.6s ease-in-out infinite alternate;
  width: 90px;
  height: 90px;
  display: inline-block;
  position: relative;
}

.popover {
  top: 100px;
}

/* Walls */

.horizontal-wall {
  width: 90px;
  height: 15px;
  top: 78px;
  position: absolute;
  z-index: 1;
}

.vertical-wall {
  width: 15px;
  height: 90px;
  left: 78px;
  position: absolute;
  z-index: 1
}

.vertical-wall-damaged-once {
  background-color: transparent;
  background-image: url('/images/damaged-once.png');
  background-size: 40px 48px;
  background-repeat: no-repeat;
  width: 40px;
  height: 48px;
  top: 26px;
  left: 68px;
  z-index: 2
}

.horizontal-wall-damaged-once {
  background-color: transparent;
  background-image: url('/images/damaged-once.png');
  background-size: 40px 48px;
  background-repeat: no-repeat;
  width: 40px;
  height: 48px;
  top: 68px;
  left: 26px;
  z-index: 2
}

.damaged-twice {
  background-image: url('/images/damaged-twice.png');
}


/* Doors */

.door {
  background-size: 44px;
  /*border: 1px solid black;*/
  border-radius: 46px;
  width: 46px;
  height: 46px;
  position: absolute;
  z-index: 2
}

.vertical-door-closed {
  background-image: url('/images/closed_door.jpg');
  top: 20px;
  left: 69px;
}

.vertical-door-open {
  background-image: url('/images/open_door.jpg');
  top: 20px;
  left: 69px;
}

.vertical-door-destroyed {
  background-image: url('/images/destroyed_door.jpg');
  top: 20px;
  left: 69px;
}

.horizontal-door-closed {
  background-image: url('/images/closed_door.jpg');
  top: 65px;
  left: 17px;
}

.horizontal-door-open {
  background-image: url('/images/open_door.jpg');
  top: 65px;
  left: 17px;
}

.horizontal-door-destroyed {
  background-image: url('/images/destroyed_door.jpg');
  top: 65px;
  left: 17px;
}


/*
s */

.player {
  border-radius: 20px;
  background-image: url('/images/avatars/Jing.png');
  position: absolute;
  top: 20px;
  left: 20px;
  max-width:40px;
  max-height:40px;
  width: auto;
  height: auto;
}

/* POIs and victims */

.poi {
  background-size: 38px;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid azure;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 2;
}

.carried {
  border: 2px solid greenyellow;
  top: 22px;
  left: 12px;
}

.poi-unrevealed {
  background-image: url('/images/victims/unrevealed.jpg');
}

.poi-man1 {
  background-image: url('/images/victims/man1.jpg');
}

.poi-man2 {
  background-image: url('/images/victims/man2.jpg');
}

.poi-man3 {
  background-image: url('/images/victims/man3.jpg');
}

.poi-woman1 {
  background-image: url('/images/victims/woman1.jpg');
}

.poi-woman2 {
  background-image: url('/images/victims/woman2.jpg');
}

.poi-woman3 {
  background-image: url('/images/victims/woman3.jpg');
}

.poi-child1 {
  background-image: url('/images/victims/child1.jpg');
}

.poi-child2 {
  background-image: url('/images/victims/child2.jpg');
}

.poi-dog {
  background-image: url('/images/victims/dog.jpg');
}

.poi-cat {
  background-image: url('/images/victims/cat.jpg');
}


/* Fire and smoke */

.fire {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 20px;
  left: 25px;
}

.smoke {
  border-radius: 45px;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 25px;
  left: 25px;
}

.playerList {
  position: absolute;
  bottom: 10px;
  left: -20px;
  z-index: 1;
}

.listPlayer {
    max-height: 70px;
    max-width: 70px;
    background-size: cover;
    width: auto;
    height: auto;
    border-radius: 50px;
    border-width: medium;
    border-style: outset;
    background-color: snow;
}

.scoreBoard {
  display:flex;
  position:relative;
  float:right;
  bottom: -51em;
}

.playerAP {
  float:left;
  position: relative;
  bottom: -62px;
  left: 54px;
}



#wrapper .text {
  color: black;
  visibility: visible;
  position: relative;
  right: 55px;
  bottom: -3em;
  font-size: x-large;
}

#wrapper .text2 {
  visibility: hidden;
  position: absolute;
  right: -42px;
  font-size: small
}

#wrapper:hover .text2 {
  color: black;
  visibility: visible;
  position: absolute;
  right: -42px;
  font-size: small;
}

#wrapper2 .text {
  visibility: hidden;
}

#wrapper2:hover .text {
  color: white;
  visibility: visible;
}
