.gameboard {
  margin: 0;
  line-height: 0px;
  width: 330px;
}

.row {
  margin: 0;
  line-height: 0px;
}

.cell {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}

.horizontal-wall {
  width: 30px;
  height: 5px;
  position: absolute;
  background-color: black;
  top: 26px;
}

.horizontal-wall-damagedOnce {
  width: 30px;
  height: 5px;
  position: absolute;
  background-color: coral;
  top: 26px;
}

.horizontal-wall-damagedTwice {
  width: 30px;
  height: 5px;
  position: absolute;
  background-color: red;
  top: 26px;
}

.vertical-wall {
  width: 5px;
  height: 30px;
  position: absolute;
  background-color: black;
  left: 26px;
}

.vertical-wall-damagedOnce {
  width: 5px;
  height: 30px;
  position: absolute;
  background-color: coral;
  left: 26px;
}

.vertical-wall-damagedTwice {
  width: 5px;
  height: 30px;
  position: absolute;
  background-color: red;
  left: 26px;
}

.vertical-door-closed {
  width: 5px;
  height: 30px;
  position: absolute;
  background-color: blue;
  left: 26px;
}

.vertical-door-open {
  width: 5px;
  height: 30px;
  position: absolute;
  background-color: green;
  left: 26px;
}

.horizontal-door-closed {
  width: 30px;
  height: 5px;
  position: absolute;
  background-color:blue;
  top: 26px;
}

.horizontal-door-open {
  width: 30px;
  height: 5px;
  position: absolute;
  background-color: green;
  top: 26px;
}

.player {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: green;
  position: absolute;
  top: 10px;
  left: 10px;
}

.poi {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: lightblue;
  position: absolute;
  top: 0px;
  left: 10px;
}

.victim-carried {
  background-color: lightgreen;
  top: 5px;
}

.victim-uncarried {
  background-color: lightcoral;
}

.fire {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.smoke {
  width: 10px;
  height: 10px;
  background-color: green;
  position: absolute;
  top: 0px;
  left: 0px;
}

/*chatroom message*/

#message-container {
  overflow-y: scroll;
  height: 80vh;
  max-height: 900px;
}

.messages {
  margin-bottom: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.9;
}
#message-filler {
  flex-grow: 1;
}
.message-container:first-of-type {
  border-top-width: 0;
}
.message-container {
  display: block;
  margin-top: 10px;
  border-top: 1px solid #f3f3f3;
  padding-top: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.message-container.visible {
  opacity: 1;
}
.message-container .pic {
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
  border-radius: 20px;
}
.message-container .spacing {
  display: table-cell;
  vertical-align: top;
}
.message-container .message {
  display: table-cell;
  width: calc(100% - 40px);
  padding: 5px 0 5px 10px;
}
.message-container .name {
  display: inline-block;
  width: 100%;
  padding-left: 40px;
  color: #bbb;
  font-style: italic;
  font-size: 12px;
  box-sizing: border-box;
}
#message-form {
  display: flex;
  flex-direction: row;
  width: 100% ;
  float: left;
}
#image-form {
  display: flex;
  flex-direction: row;
  width: 48px;
  float: right;
}

#message-form .mdl-textfield {
  width: 100%
}

.mdl-textfield__input {
  padding-left: 5px;
}
#message-form button, #image-form button {
  width: 100px;
  margin: 15px 0 0 10px;
}

.mdl-card {
  min-height: 0;
}

.mdl-card {
  background: linear-gradient(white, #f9f9f9);
  justify-content: space-between;
}

#mediaCapture {
  display: none;
}

#message-input{
  width: 100%
}

.mdl-textfield__label:after {
  background-color: #0288D1;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: #0288D1;
}

.mdl-button .material-icons {
  top: -1px;
  margin-right: 5px;
}
