.gameboard {
  margin: 0;
  line-height: 0px;
  width: 330px;
}

.row {
  margin: 0;
  line-height: 0px;
}

.cell {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}

.horizontal-wall {
  width: 30px;
  height: 5px;
  position: absolute;
  background-color: black;
  top: 26px;
}

.horizontal-wall-damagedOnce {
  width: 30px;
  height: 5px;
  position: absolute;
  background-color: coral;
  top: 26px;
}

.horizontal-wall-damagedTwice {
  width: 30px;
  height: 5px;
  position: absolute;
  background-color: red;
  top: 26px;
}

.vertical-wall {
  width: 5px;
  height: 30px;
  position: absolute;
  background-color: black;
  left: 26px;
}

.vertical-wall-damagedOnce {
  width: 5px;
  height: 30px;
  position: absolute;
  background-color: coral;
  left: 26px;
}

.vertical-wall-damagedTwice {
  width: 5px;
  height: 30px;
  position: absolute;
  background-color: red;
  left: 26px;
}

.vertical-door-closed {
  width: 5px;
  height: 30px;
  position: absolute;
  background-color: blue;
  left: 26px;
}

.vertical-door-open {
  width: 5px;
  height: 30px;
  position: absolute;
  background-color: green;
  left: 26px;
}

.horizontal-door-closed {
  width: 30px;
  height: 5px;
  position: absolute;
  background-color:blue;
  top: 26px;
}

.horizontal-door-open {
  width: 30px;
  height: 5px;
  position: absolute;
  background-color: green;
  top: 26px;
}

.player {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: green;
  position: absolute;
  top: 10px;
  left: 10px;
}

.poi {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: lightblue;
  position: absolute;
  top: 0px;
  left: 10px;
}

.victim-woman1 {
  background-color: lightgray;
}

.victim-dog {
  background-color: lightgreen;
}

.fire {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.smoke {
  width: 10px;
  height: 10px;
  background-color: green;
  position: absolute;
  top: 0px;
  left: 0px;
}
